* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: 0;
	text-decoration: none;
}

.fullcontainer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	background-image: url(./patt.jpg);
	background-size: cover;
	.gamecontainer {
		height: 500px;
		width: 700px;
		background-color: bisque;
		position: relative;
		background-image: url(./grass.jpg);
		background-size: cover;
		box-shadow: -4px 3px 46px 69px rgba(0, 0, 0, 0.41);
		#redboll {
			height: 50px;
			width: 50px;
			border-radius: 50%;
			background-color: red;
			position: absolute;
		}
		#blueboll {
			height: 50px;
			width: 50px;
			border-radius: 50%;
			background-color: blue;
			position: absolute;
			bottom: 0;
			right: 0;
		}
	}
}
